[Desktop Entry]
Name=Stella Client
Comment=Minecraft Launcher
Exec=/home/ivan/Proyectos/stella-client/venv/bin/python3 /home/ivan/Proyectos/stella-client/main.py
Icon=/home/ivan/Proyectos/stella-client/assets/icon.png
Terminal=false
Type=Application
Categories=Game;Utility;
